.about_container{
    background-image: url("../../assets/tweetmark-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}
.about_title{
    color:rgb(18, 60, 158);
    font-size: 3rem;
    font-family: poppins;
    padding-top: 10rem;
    font-weight: bold;
    padding-bottom: 2rem;
}
.about_descr{
    font-size: 1.25rem;
    
    font-family:poppins;
    line-height: 2rem; 
    text-align: center;
    padding-bottom: 2.5rem; 
    width:60vw;
    padding-top: 1rem;
    justify-content: center;
}


