* {
    padding: 0;
    margin: 0;

}

.navbar {

    position: sticky;
    top: 0px;
    z-index: 100;
    width: 100vw;
    padding-top: 10px;
    
    height: auto;
    padding-bottom: 10px;
    z-index: 100;
    background-color: rgba(101,147,227,0.242);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav_title{
    padding-top: 10px;
    color: white;
    flex-grow: 1;
    padding-left: .75rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
    justify-content: space-evenly;
    color:rgba(0,23,100);
    font-family: 'Poppins', sans-serif;
    flex-grow: 9;
}

.navbar li {
    cursor: pointer;
    flex-wrap: nowrap;
    color: rgb(0, 23, 100);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    height: .5rem;
    padding-top: 10px;

}


.navbar a {
    color: rgb(0,23,100);
    text-decoration: none;
    font-family: sans-serif;
    font-family: sans-serif;
}
.navlogo{
height: 35px;
width: auto;
position: relative;
top:0rem;
padding-top: 0rem;


}
.navlog{
    display: inline-flex;
    flex-direction: row;
}
